@import "../../../polls/static/polls/breakpoints";

.absence {
  display :flex;
  @media (min-width: $l-mobile){
    flex-direction: row;
  }
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  input[type=submit]  {
    font-size: 24px;
  }
}
.absenceForm {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  h1 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  li {
    list-style-type: none;
    color: red;
    font-weight: bold;
    margin-right: 30px;
  }
  .fieldWrapper{
    margin: 10px;
    font-size: 24px;
    input[type=date] {
      font-size: 20px;
    }
  }
  .save {
    font-size: 24px;
    padding: 10px;
    background: white !important;
    border: none;
    color: maroon;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Times, sans-serif;
  }
  .save:hover {
    color: black;
    padding: 11px;
  }
}

.absenceLists {
  b {
    font-size: 24px;
  }
  .oneAbsence {
    padding: 4px;
    margin: 4px;
    text-align: left;
    .from {
      margin-left: 40px;
    }
    .to {
      margin-left: 42px;
    }
    .fromWithBox {
      margin-left: 19px;
    }
  }
  .absences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .userAbsences {
      padding: 15px;
    }
  }
}

@media (max-width: $l-mobile){
  .absence {
    flex-direction: column;
    align-items: center;
  }
}

