<h1>All Absences</h1>
{% if absences_from_users %}
<form action="{% url 'absenceCalendar:delete_absences' %}" method="post">
    {% csrf_token %}
        <div class="absences">
            {% for name, absence in absences_from_users.items %}
                <div class="userAbsences">
                <b>{{ name }}</b>
                    {% for a in absence %}
                                <div class="oneAbsence">
                                {% if user.username == name %}
                                    <input class="checkbox"c type="checkbox" name="absenceBox" value="{{ a }}">
                                    <span class="fromWithBox">from: {{ a.absenceFrom }}</span>
                                    <br>
                                    <span class="to">till: {{ a.absenceTo }}</span>
                                {% else %}
                                    <span class="from">from: {{ a.absenceFrom }}</span>
                                    <br>
                                    <span class="to">till: {{ a.absenceTo }}</span>
                                {% endif %}
                            </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    <input type="submit" value="Abwesenheit Löschen">
</form>
{% endif %}