anyjson==0.3.3
APScheduler==3.6.3
Django==2.2.13
django-appconf==1.0.3
django-compat==1.0.15
django-compressor==2.3
django-libsass==0.7
importlib-metadata==0.23
libsass==0.19.4
more-itertools==7.2.0
pytz==2019.3
requests==2.22.0
virtualenv==16.7.7
django-chartjs==1.5.0
djangorestframework==3.10.3
slacker==0.13.0
Pillow==8.2.0
psycopg2-binary==2.8.3
gunicorn==19.9.0
django-nose==1.4.6
coverage==5.0.3
django-structlog==1.3.5
