// @section     Breakpoint Definitions
//
// @usage       @include breakpoint($bp-980px) {
//                  width: 100px;
//               }
//
// @notes       http://breakpoint-sass.com/
//              For docs and more information see:
//              https://github.com/at-import/breakpoint

// mobile
$s-mobile: 480px;
$s-mobile-max: max-width 480px;
$l-mobile: 600px;
$l-mobile-max: max-width 600px;
// tablet
$tablet: 767px;
$tablet-max: max-width 767px;
// desktop
$s-desktop: 1000px;
$s-desktop: max-width 1000px;
// large desktop
$l-desktop: 1500px;
$l-desktop-max: max-width 1500px;
