@import "breakpoints";

html {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.background {
  max-width: 1500px;
  width: 1500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.welcomeText {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: white;
  border-bottom: #cccccc solid 1px;

}
@media (min-width: $l-mobile) {
  .choiceForToday{
    display: none;
  }
}
@media (max-width: $l-mobile) {
  .voteStats, .choicesStats{
    display: none;
  }
}
.choiceForToday {
  margin-bottom: 30px;
  border-bottom: solid rgba(0,0,0,0.1);

  .choiceOfTheDay {
    font-weight: bold;
    font-size: 20px;
  }

  .supportedBy {
    font-size: 15px;
  }

  text-align: center;
  font-size: 20px;
}

main {
  display :flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: $tablet) {
  .voteForm {
    order: 2;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .voteStats {
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .choicesStats {
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }

}