{% load static %}
{% load index %}
{% if restaurant_list %}
        <table>
            <thead>
                <tr>
                    <th>Not Voted</th>
                    <th>Do not Care</th>
                    <th>Out</th>
                </tr>
            </thead>
            <tbody>
                {% for user in longest_list%}
                    <tr>
                        <td>
                            {{ not_voted|index:forloop.counter0 }}
                        </td>
                        <td>
                            {{ user_that_do_not_care|index:forloop.counter0 }}
                        </td>
                        <td>
                            {{ user_that_are_out|index:forloop.counter0 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>
                        Restaurants
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for restaurant in restaurant_list %}
                    <tr>
                        <td>
                            <a{% if restaurant.restaurant_menu_link %} href="{{ restaurant.restaurant_menu_link }}" target="_blank" {% endif %}> {{ restaurant.restaurant_name }} </a>
                        </td>
                        <td class="radioButton">
                            {% if user.is_authenticated %}
                                <input type="checkbox" name="voteButton" value="{{ restaurant.restaurant_name }}" {% if restaurant in voted_restaurants %} checked="checked" {% endif %} >
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not user.is_authenticated %}
            <input class="vote" type="submit" value="Please Login first">
        {% else %}
            <input class="vote" type="submit" value="Vote now">
        {% endif %}
    </form>
    {% if user.is_authenticated %}
        <form class="iamOutForm" action="{% url 'polls:iAmOut' %}" method="post">
            {% csrf_token %}
            <br>
            <input class="iAmOut" type="submit" value="I am out">
        </form>
        <form class="doNotCare" action="{% url 'polls:doNotCare' %}" method="post">
            {% csrf_token %}
            <br>
            <input class="doNotCare" type="submit" value="Do not care">
        </form>
    {% endif %}
{% else %}
    <p>No restaurants available</p>
{% endif %}