<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>
        {{website_name}}
    </title>
    {% load static %}
    {% load compress %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'index.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'header.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'weather.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'voteForm.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'statistics.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'absence.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'anonymousPage.scss' %}" rel="stylesheet" media="screen">
        <style>
            {% if background_image_url %}
                .background {
                    background-image: url({{  background_image_url }} );
                }
            {% else  %}
                .background {
                    background-color: rgb(250, 250, 250);
                }
            {% endif %}
        </style>
    {% endcompress %}
</head>
<body>
<div class="background">
    <div class="header">
        {% include "templates/header.html" %}
    </div>
    <div class="wrapper">
        {% block content %} {% endblock %}
    </div>
</div>
</body>
</html>
