@import "breakpoints";

.loginButton {
  display: block;
}

#loginText {
  text-align: center;
}
.titleForNewMember {
  margin-top: 35px;
  text-align: center;
  font-width: bold;
}
.introductionText {
  display: block;
  text-align: center;
}
.emailContent {
  list-style-position: inside;
}

.textForNewMembers{
  background: white;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 20px;
}

@media (min-width: $l-mobile) {
  .textForNewMembers{
   margin-left: 40px;
   margin-right: 40px;
  }
}