@import "breakpoints";

@media (min-width: $l-mobile) {
  .voteStats, .choicesStats {
    display: block;
    text-align: center;
    width: 1000px;
    height: auto;
    span {
      font-weight: bold;
      font-size: 20px;
    }
  }
  @media (min-width: 2000px){
    .voteStats {
      width: 1500px;
    }
    @media (min-width: 2300px) {
      .voteStats {
        width: 1800px;
      }
    }
  }
  @media (max-width: 1040px) {
    .voteStats, .choicesStats {
      width: 700px;
      height: auto;
      @media (max-width: 750px) {
        width: 600px;
        height: auto;
      }
    }
  }
}

